#menu-nav-btn{
    background: url("menu_icon.png");
    background-size: auto;
    background-repeat: repeat:
    border: 3px solid white;
    border-radius: 12px;
    
    height: 30px;
    width: 50px;
}

p.mdc-typography--body1
{
    color:navy;
/*     font-weight:bold; */
}